.App {
  padding: 150px 0;
}
.form {
  padding: 30px;
}
.fieldset {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
}
h1 {
  text-align: center;
}
.name {
  margin-top: 20px;
}